[submodule "rolls-blockchain-gui"]
	path = rolls-blockchain-gui
	url = https://github.com/strandedathome/rolls-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/strandedathome/mozilla-ca.git
        branch = main
